<h1>Posts#create</h1>
<p>Find me in app/views/posts/create.html.erb</p>

<h2>Ingrese su post</h2>

<form method = "get" action = "posts/create">
    <br>
    <div class="form-group">
        <label for "title">Titulo</lable>
        <input id="title" name="title" class="form-control" placeholder="Ingrese el titulo">
    </div>
    <br>
    <div class="form-group">
        <label for "content">Contenido del post</lable>
        <input name="content" class="form-control" placeholder="Escriba su post">
    </div>
    <br>
    <div class="form-group">
        <label for "image_url">Imagen</lable>
        <input id="image_url" name="image_url" class="form-control" placeholder="Ingrese la url de su imagen">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<br>

<table class="table">
    <tr>
      <th>Fecha de creación</th>
      <th>Título</th>
      <th>Contenido</th>
      <th>Imagen</th>
    </tr>
      
    <% @posts.each do |post| %>
        <tr>
          <td><%= post.title%></td>
          <td><%= post.created_at%></td>
          <td><%= post.content%></td>
          <td><%= post.image_url%></td>
        </tr>
    <% end %>
</table>
